.support {
	&__title {
		margin-bottom: 28px;
		text-align: left;
	}
	&__text {
		max-width: 588px;
		color: $c-catalina-blue;
		font-size: 26px;
		line-height: 140%;
		@include smoothValue('font-size', 16px, 26px, $mobile, $desktop);
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		border-radius: 20px;
		column-gap: 30px;
		background: $c-white;
		box-shadow: 0px 30px 29px -8px rgba(64, 153, 247, 0.12);
		@include smoothValue('padding-top', 30px, 86px, $mobile, $desktop);
		@include smoothValue('padding-right', 24px, 78px, $mobile, $desktop);
		@include smoothValue('padding-bottom', 34px, 78px, $mobile, $desktop);
		@include smoothValue('padding-left', 24px, 78px, $mobile, $desktop);
		@include max-screen($mobile-only) {
			flex-direction: column;
			text-align: center;
			gap: 22px;
		}
	}
	&__left {
		flex-grow: 1;
	}
	&__right {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title {
		letter-spacing: 0;
		margin-bottom: 35px;
		@include max-screen($mobile-only) {
			margin-bottom: 16px;
			text-align: center;
		}
	}
	&__button {
		min-width: 328px;
		margin-bottom: 10px;
		padding: 24px 18px;
		font-size: 24px;
		line-height: 117%;
		@include max-screen($mobile-only) {
			margin-bottom: 0;
			padding: 15px;
			font-size: 16px;
			line-height: 19px;
			border-radius: 16px;
		}
		@include max-screen($mobile) {
			min-width: auto;
			width: 100%;
		}
	}
}
